*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    overflow: hidden;
    background: white;

}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    background: black;
}